/* Clear Defaults */

body, h1, h3 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Fonts and Text Properties */

body, button {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

header, button {
  font-size: 1.125em;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.1875em;
}

/* Colors and Borders */

header, footer, button {
  color: white;
  background-color: slategray;
}

button {
  box-sizing: border-box;
  border: 0.125rem outset slategray;
}

button:active, button.active {
  background-color: darkslategray;
}

hr {
  width: 50%;
  border: 0.0625rem solid slategray;
}

#grid {
  box-sizing: border-box;
  border: 0.25rem outset slategray;
  background-color: ghostwhite;
}

.cell {
  border: 0 solid lightslategray;
  box-sizing: border-box;
}

/* Flexboxes */  

body, header, footer, main, #buttons, #grid, .row {
  display: flex;
}

body {
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: 1rem;
}

header {
  display: flex;
  flex: 0 0 5rem;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex: 0 0 3rem;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  align-self: center;
  width: calc(100% - 2rem);

  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
  justify-content: center;
  align-items: flex-start;
}

#buttons {
  flex: 0 0 10rem;

  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}

#grid {
  flex: 1;
  max-width: calc(100vh - 10rem);

  display: flex;
  flex-flow: column nowrap;
  aspect-ratio: 1/1;
}

.row {
  flex: 1;

  display: flex;
  flex-flow: row nowrap;
}

.cell {
  height: 100%;
  aspect-ratio: 1;
}
